.Login-Button {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerButtons {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.taskGrid {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 1%;
}

#calendar-date {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 15px;
  margin-bottom: 15px;
}
